// Color Variables
$primary-color: #f7463a;
$secondary-color: #65C09D; //<--top banner color  was this #faf9f7
$text-color: #0000fc;
$text-color-dark: #000000;  //<--alegedly the h1s etc color
$body-color: #ffffff; //<--background color
$border-color: #d2d2e2;
$black: #000;
$white: #65C09D;
$light: #000; //<--footer links
$primary-gradient: linear-gradient( 37deg, rgb(180,62,121) 1%, rgb(247,70,58) 100%);


// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Noto Sans', sans-serif;
$icon-font: 'themify';
